<div class="py-5">
    <div class="container p-1 shadow-lg">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 p-4 d-flex flex-column justify-content-center">
                <div class="d-flex align-items-center ">
                    <h4>Sign In Now For</h4>
                    <img src="assets\logo.png" class="ms-3" width="60" height="60" alt="">
                </div>

                <p class="alert-box my-3">{{ApiError}}</p>

                <div class="py-3">
                    <form (ngSubmit)="HandleLogin(LoginForm)" [formGroup]="LoginForm">





                        <label for="email" class="mb-2">Email</label>
                        <input type="text" class="form-control mb-2 border-0 shadow-none" id="email"
                            formControlName="email">
                        <div *ngIf="LoginForm.get('email')?.errors && LoginForm.get('email')?.touched">
                            <p *ngIf="LoginForm.get('email')?.getError('required')">Email Is Reguired</p>
                            <p *ngIf="LoginForm.get('email')?.getError('email')">Invalid Email
                            </p>

                        </div>

                        <label for="password" class="mb-2">Password</label>
                        <input type="text" class="form-control mb-2 border-0 shadow-none" id="password"
                            formControlName="password">
                        <div *ngIf="LoginForm.get('password')?.errors && LoginForm.get('password')?.touched">
                            <p *ngIf="LoginForm.get('password')?.getError('required')">Password Is Reguired</p>
                            <p *ngIf="LoginForm.get('password')?.getError('pattern')">Invalid Password
                            </p>

                        </div>



                        <button [disabled]="LoginForm.invalid" type="submit" class="btn button-main shadow-lg fw-bold mt-3" role="button">
                            <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                            <span *ngIf="!isLoading">Sign In</span>
                        </button>

                    </form>
                </div>


            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 signup">
                <img src="assets\login.svg" class="w-100 rounded-4 " height="600" alt="">
            </div>
        </div>
    </div>
</div>