img {
    transition: transform 0.3s ease-in-out;
    /* Add a smooth transition effect */
}

img:hover {
    transform: scale(1.19999);
    /* Scale the image to 1.3 times its original size on hover */
}